html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  line-height: 1.5;
  color: var(--color-text);

  @media(--desktop-width) {
    font-size: 110%;
  }
}

.page {
  background-color: #f1f1f1;
  font-family: "Arial", sans-serif;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
