.popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3;
  cursor: pointer;

  &--open {
    display: block;
  }

  &__wrap {
    position: relative;
    padding: 20px;
    padding-top: 45px;
    text-align: center;

    @media (--tablet-width) {
      padding: 30px;
      padding-top: 45px;
    }
  }

  & img {
    width: 100%;
    height: 90vh;
    object-fit: contain;
  }
}
